/* Access Section */
.access-section {
    padding: 60px 20px;
    background: #fff;
}

.access-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
    background: var(--bg-white);
    padding: 60px;
    border-radius: 12px;
    color: white;
    position: relative;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

.access-content h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 24px;
    line-height: 1.4;
}

.access-content span {
    color: #facc15;
}

.access-image {
    position: relative;
}

.access-image img {
    width: 100%;
    border-radius: 12px;
}

.access-box .video__play {
    position: absolute;
    bottom: 170px;
    right: 250px;
}